* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

@font-face {
  font-family: "Neua Machina";
  src: url("assets/fonts/NeueMachina-Regular.otf");
}

body {
  background-color: #000;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 1rem;
}

.main::before {
  content: "";
  background-image: url("assets/img/background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: fixed;
  width: 120vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.main::after {
  content: "";
  background-image: url("assets/img/background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  width: 120vw;
  height: 100vh;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  .main {
    max-width: 1024px;
    margin: 1rem auto;
  }

  .main::after {
    width: 70vw;
  }

  .main::before {
    width: 70vw;
  }
}
